@using ITDevProjekt.ViewModel;
@model TranlateWrapViewModel
@{
    ViewData["Title"] = "Search Page";
}
<div class="header">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo2.png" alt="" class="logo"></a>
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo-mobile.png" alt="" class="logo-mobile"></a>
    <div class="header-buttons">
        <a asp-area="" asp-controller="Translate" asp-action="" class="start-btn tlum-btn list-page-btn">
            <span>Tlumaczenie</span>
            <span>Tlumaczenie</span>
            <span>Tlumaczenie</span>
            <span>Tlumaczenie</span>
        </a>
    </div>
</div>
</div>
<div class="border"></div>
<div class="container">
    <form asp-action="Index" method="post" class="list-form" enctype="multipart/form-data">
        <input asp-for="Token" type="hidden" id="tokenList" value="123" name="tokenList">
        <div class="search">
            <input type="text" class="searchBox" name="searchInput" id="searchInput" placeholder="Co szukasz?" />
            <input type="submit" class="searchBtn" id="searchBtn" />

        </div>
        <ul class="search-items">
            @foreach (var translateVM in Model.List)
            {
                <a asp-controller="Single" asp-action="?id=@translateVM.Translations.Id">
                    <li class="search-item">
                        <span class="item-lang">@translateVM.Translations.LangSource - @translateVM.Translations.LangTranslate</span>
                        <span class="item-text">@translateVM.Translations.TextAfter</span>
                    </li>
                </a>
            }
        </ul>

    </form>
</div>