.form-btn span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0c002b, #1779ff);
	animation: animate1 2s linear infinite;
}
@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
.form-btn span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #0c002b, #1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}
.form-btn span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0c002b, #1779ff);
	animation: animate3 2s linear infinite;
}
@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.form-btn span:nth-child(4) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #0c002b, #1779ff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
.start-btn span:nth-child(1) {
	transform: rotateX(360deg) translateZ(25px);
}
.start-btn span:nth-child(2) {
	transform: rotateX(270deg) translateZ(25px);
}
.start-btn span:nth-child(3) {
	transform: rotateX(180deg) translateZ(25px);
}
.start-btn span:nth-child(4) {
	transform: rotateX(90deg) translateZ(25px);
}
@keyframes animatebtn {
	0% {
		transform: perspective(1000px) rotateX(0deg);
	}
	100% {
		transform: perspective(1000px) rotateX(360deg);
	}
}