@{
    ViewData["Title"] = "New translator";
}

<div class="start-page">
    <img src="~/img/logo-main.png" alt="" class="logo-main">
    <div class="start-content">
        <div class="block-tlum">
            <span class="start-text">Masz cos do tlumaczenia?</span>
            <a asp-area="" asp-controller="Home" asp-action="Translate" class="start-btn tlum-btn">
                <span>Tlumaczenie</span>
                <span>Tlumaczenie</span>
                <span>Tlumaczenie</span>
                <span>Tlumaczenie</span>
            </a>
        </div>
        <div class="block-lista">
            <span class="start-text">Wszystki tlumaczenia</span>
            <a asp-area="" asp-controller="Home" asp-action="Search" class="start-btn list-btn">
                <span>Lista tlumaczen</span>
                <span>Lista tlumaczen</span>
                <span>Lista tlumaczen</span>
                <span>Lista tlumaczen</span>
            </a>
        </div>
    </div>
</div>
